
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    top: 0;
    right: 0;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#formBox {
    display: flex;
    justify-content: center;
    
}

form {
    display: flexbox;
    
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

#expenseList {
    margin: 0 auto;
}

ul {
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#newEntry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background-color: lightgray;

}

#newEntry > li {
    padding: 5px;
    background-color: #A2D7D2;
}
